*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --body-color-azul:#EFF8FF;
    --body-color-white: #FFFFFF;
    --card-black: #293145; 
    --botao-color: #0F9AFE;
    --titulo-color: #293145;
    --text-color: #6E7275;
}

/* ------------ Header ------------ */
.cabecalho{
    background: var(--body-color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 2rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px -0px;
    position: fixed;
    width: 100%;
}

.cabecalho-nave ul{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.cabecalho-nave ul li > a {
    color: #6E7275; 
    font-weight: 500;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

/* --- main ---- */
.main-container{
    width: 1440px;
}


/* --- main > Home ----- */
 
.main-home{
    background: var(--body-color-azul);
    padding: 12rem 2rem 4rem 2rem;
}

.main-home .home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.home .home-itens > h1{
    color: var(--titulo-color);
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 50px;
}

.main .button{
    background: var(--botao-color);
    width: 200px;
    height: 56px;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background .3s linear;
}

.main .button:hover{
    background: var(--card-black);
}

.main .button > p{
    color: var(--body-color-white);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
}


/* --- main > funcionalidades ----- */
.main-funcionalidades{
    background: var(--body-color-white);
    padding: 10rem 2rem 4rem 2rem;
    text-align: center;
}

.main-funcionalidades  h2{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: var(--titulo-color);
}

 .funcionalidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8rem 0 2rem 0;
}

.funcionalidades-itens .funcionalidades-imagem{
    margin-bottom: 2rem;
}

.funcionalidades-itens > h3{ 
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 1rem;
    color: var(--titulo-color);
}

.funcionalidades-itens > p{ 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
}

/* --- main > App ----- */
 
.main-app{
    background: var(--body-color-azul);
    padding: 10rem 2rem 4rem 2rem;

}

.main-container.app{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.app-itens{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.app-itens h2{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 32px;
    padding-bottom: .25rem;
    color: var(--titulo-color);
}

.app-itens p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
}

.app-itens .imagens{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

/* --- main > Planos----- */
.main-planos{
    background: var(--body-color-white);
    padding: 10rem 2rem 4rem 2rem;

}

.main-container.planos{
    text-align: center;
}

.main-container.planos > h2{
    padding-bottom: 1rem;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: .25rem;
    color: var(--titulo-color);
}

.main-container.planos > p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-color);
    padding-bottom: 3rem;
}


.main-container .planos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 2rem;
}

.main-container .planos .planos-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 370px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.212) 0px 2px 9px 1px;
}

.planos .planos-itens span{
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.planos .planos-itens span > strong{
    font-size: 40px;
}

.planos-itens p{
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: var(--text-color);
}

.planos-itens.bronze, .planos-itens.ouro{
    background: var(--body-color-azul);
}

.planos-itens.bronze h3, .planos-itens.ouro h3{
    color: var(--titulo-color);
    font-weight: 600;
    font-size: 24px;
    font-family: 'Sora', sans-serif;
}

.planos-itens.bronze, .planos-itens.ouro{
    padding: 5rem 2rem;
}

.planos-itens.prata{
    background: var(--card-black);
    padding: 2rem 2rem 4rem 2rem;
}

.planos-itens.prata p{
   color: #DBDBDB;
}

.planos-itens.prata > h3{
    font-weight: 600;
    font-size: 32px;
    font-family: 'Sora', sans-serif;
}

.planos-itens.prata > legend{
    background: var(--botao-color);
    color: var(--body-color-white);
    border-radius: 15px;
    width: 164px;
    padding: .255rem 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.planos-itens.prata > h3, .planos-itens.prata > span{
    color: var(--body-color-white);
}

.planos-itens .plano-button{
    background: var(--botao-color);
    color: var(--body-color-white);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 1px 3px 4px rgba(20, 99, 173, 0.5);
    border-radius: 50px;
    width: 230px;
    height: 43px;
    border: none;
    transition: background .3s linear;
}

.planos-itens .plano-button:hover{
    background: var(--card-black);
}

/* --- main > Contato ----- */

.main-contato{
    overflow: hidden;
    background-image: url(./img/contato.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 2rem 4rem 2rem;

}

.main-container.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(205, 227, 243, 0.623);
    border-radius: 4px 4px;
    padding: 2rem 0;
}

.main-container.contato h2{
    color: var(--card-black);
    font-weight: 600;
    font-size: 40px;
    font-family: 'Sora', sans-serif;
    margin-bottom: 1rem;
}

.main-container.contato p{
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}


.main-container.contato form{
    margin: 2rem 0;
}

.main-container.contato form input{
    padding: .55rem  0;
    color: var(--body-color-white);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--body-color-white);
    outline-style:none; /*REMOVER BORDER DE CLICK*/
}

.main-container.contato form  button.botao-contato{
    background: var(--botao-color);
    width: 120px;
    height: 35px;
    box-shadow: 1px 3px 4px rgba(17, 80, 139, 0.5);
    border-radius: 35px;
    border: none;
    cursor: pointer;
    transition: background .3s linear;
    margin-left: 25px;
}

.main-container.contato form button > p{
    color: var(--body-color-white);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.main-container.contato form button.botao-contato:hover{
    background: var(--card-black);
}


/* ----- FOOTER -----*/
.rodape{
    color: var(--titulo-color);
    font-size: 20px;
    font-family: 'Sora', sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 2rem 2rem;
}